{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    add people

{% endblock %}
{% block main %}
    <div class="general">
        <div class="form-container">
            <form action="{% url 'add_people' %}" method="post" id="add-people-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Add people</h1>
                    <p>Please fill person's information</p>
                    <div class="form-group">
                        <label for="company" class="form-label">Company</label>
                        <select name="company">
                            <option selected disabled>Choose company</option>
                            {% for company in companies %}

                                <option value="{{ company.id }}">{{ company.name }}</option>

                            {% endfor %}
                            <option value="">None of the above</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" autocomplete="off" tabindex="1" placeholder="Anthony" required>
                    </div>                    
                    <div class="form-group">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" name="position" id="position" autocomplete="off" placeholder="Manager" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control" autocomplete="off" id="address" placeholder="123 ABC street" tabindex="3">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" autocomplete="off" placeholder="anthony@gmail.com" tabindex="4">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" autocomplete="off" placeholder="0912345678" tabindex="5">
                    </div>
                    <div class="form-group">
                        <label for="note" class="form-label">Note</label>
                        <textarea rows="5" cols="40" class="form-control" id="note" name="note" placeholder="Enter note..."></textarea>
                    </div>
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/add_people.js' %}"></script>

{% endblock %}