{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    add company

{% endblock %}
{% block main %}

    <div class="general">
        <div class="form-container">
            <form action="{% url 'add_company' %}" method="post" id="add-company-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Add Company</h1>
                    <div class="form-group">
                        <label for="name" class="form-label">Company's name</label>
                        <input name="name" type="text" required class="form-control" autocomplete="off" placeholder="ABC Company" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="industry" class="form-label">Industry</label>
                        <input name="industry" type="text" required class="form-control" autocomplete="off" placeholder="education">
                    </div>
                    <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input name="address" type="text" required class="form-control" autocomplete="off" placeholder="123 ABCD street">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" autocomplete="off" placeholder="anderson@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone</label>
                        <input name="phone" type="text" class="form-control" autocomplete="off" placeholder="0123405302">
                    </div>
                    <div class="form-group">
                        <label for="male_headcount" class="form-label">Male Headcount</label>
                        <input name="male_headcount" type="number" required min="0" class="form-control" autocomplete="off" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label for="female_headcount" class="form-label">Female Headcount</label>
                        <input name="female_headcount" type="number" required min="0" class="form-control" autocomplete="off" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label for="add_representative_method" class="form-label">Choose how to add representative</label>
                        <select name="add_representative_method" class="form-control" id="add_representative_method">
                            <option selected disabled>Representative</option>
                            <option value="create_new">Create New</option>
                            <option value="choose_from_list">Choose From List</option>
                            <option>Add Later</option>
                        </select>
                    </div>
                    <div id="create-new-method">
                        <div class="form-group">
                            <label for="new_representative_name" class="form-label">Representative Name</label>
                            <input name="new_representative_name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_address" class="form-label">Representative Address</label>
                            <input name="new_representative_address" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_email" class="form-label">Representative Email</label>
                            <input name="new_representative_email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_phone" class="form-label">Representative Phone</label>
                            <input name="new_representative_phone" type="text" class="form-control">
                        </div>
                    </div>
                    <div id="choose-from-list-method">
                        <div class="form-group">
                            <label for="representative_id" class="form-label">Representative</label>
                            <select name="representative_id" class="form-control">
                                <option selected disabled>Name</option>
                                {% for person in people %}
                                    <option value="{{ person.id }}">{{ person.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/add_company.js' %}"></script>

{% endblock %}