{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    add agenda item

{% endblock %}
{% block main %}

    <div class="general">
        <div class="form-container">
            <form action="{% url 'add_meeting_agenda' meeting_id=meeting.id %}" method="post" id="add-agenda-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Add Item</h1>
                    {% for i in "12345" %}

                        <strong>Item {{ i }}</strong>
                        <div class="form-group">
                            <textarea class="form-control" name="item_{{ i }}"></textarea>
                        </div>

                    {% endfor %}

                    <p><i>If meeting has less than 5 items, just ignore the excessive items</i></p>
                    <p><i>If it has more than 5 items, you can add more later</i></p>
                    
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}