{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    add service

{% endblock %}
{% block main %}

    <div class="general">
        <div class="form-container">
            <form action="{% url 'add_service' %}" method="post" id="add-service-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Add Service</h1>
                    <p>Please fill this form to save service's information</p>
                    <div class="form-group">
                        <label for="name" class="form-label">Service's Name</label>
                        <input type="text" class="form-control" name="name" id="name" autofocus autocomplete="off" tabindex="1" placeholder="X-ray" required>
                    </div>
                    <div class="form-group">
                        <label for="male_price" class="form-label">Male Price</label>
                        <input type="number" class="form-control" name="male_price" id="male_price" tabindex="2" autocomplete="off" placeholder="100000">
                    </div>
                    <div class="form-group">
                        <label for="female_price" class="form-label">Female Price</label>
                        <input type="number" class="form-control" name="female_price" id="female_price" tabindex="3" autocomplete="off" placeholder="100000">
                    </div>
                    <div class="form-group">
                        <label for="benefit" class="form-label">Benefit</label>
                        <textarea rows="2" cols="40" class="form-control" name="benefit" id="benefit" tabindex="4" placeholder="Enter benefit..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="5" cols="40" class="form-control" name="description" id="description" tabindex="5" placeholder="Enter description..."></textarea>
                    </div>
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/add_service.js' %}"></script>

{% endblock %}