{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    all meetings

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">All Meetings</h1>
    <container class="container-fluid">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                
                    <tr>
                        <td>
                            <a class="no-underline" href="{% url 'meeting_agenda' meeting_id=meeting.id %}">{{ forloop.counter }}</a>
                        </td>
                        <td>{{ meeting.client.name }}</td>
                        <td>{{ meeting.start_time }}</td>
                        <td>{{ meeting.end_time }}</td>
                        <td>
                            {% if not meeting.end_or_not %}

                                <span style="color: green;">Active</span>

                            {% else %}

                                <span style="color: red;">Ended</span>

                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </container>

{% endblock %}