{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    authorize

{% endblock %}
{% block main %}

    <h1 class="text-center">
        All users
    </h1>    
    <div class="container-fluid">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: start;">Username</th>
                    <th style="text-align: center">Current Management Level</th>
                    <th style="text-align: center;">New Level</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data_users %}

                    <tr class="user-info" id="user{{ user.id }}">
                        <td>
                            <strong>{{ user.username }}</strong>
                        </td>
                        <td style="text-align: center;">
                            <strong class="current-level">{{ user.management_right_level }}</strong>
                        </td>
                        <td style="text-align: center;">
                            <select class="level">
                                <option selected value="{{ user.management_right_level }}">{{ user.management_right_level }}</option>
                                {% for level in levels %}

                                    {% if level != user.management_right_level %}

                                        <option value="{{ level }}">{{ level }}</option>

                                    {% endif %}

                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/authorize.js' %}"></script>

{% endblock %}