{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    company detail

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">
        Company detail
    </h1>
    <div class="container-fluid">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Company Name</td>
                    <td><strong>{{ company.name }}</strong></td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td><strong>{{ company.industry }}</strong></td>
                </tr>
                <tr>
                    <td>Representative</td>
                    <td><strong>{{ company.representative.name }}</strong></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><strong>{{ company.address }}</strong></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><strong>{{ company.email }}</strong></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><strong>{{ company.phone }}</strong></td>
                </tr>
                <tr>
                    <td>Male Headcount</td>
                    <td><strong>{{ company.male_headcount }}</strong></td>
                </tr>
                <tr>
                    <td>Female HeadCount</td>
                    <td><strong>{{ company.female_headcount }}</strong></td>
                </tr>
                <tr>
                    <td>Created By</td>
                    <td><strong>{{ company.created_by }}</strong></td>
                </tr>
                <tr>
                    <td>Last Modified By</td>
                    <td><strong>{{ company.modified_by }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">        
        <div id="remove-company-form-container">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a class="text-center btn btn-info" id="show-edit-company-btn">Edit Company</a>
                        </td>
                        <td>
                            <form action="{% url 'remove_company' %}" method="post" onsubmit="return confirm('Are you really want to remove this company?');">
                                {% csrf_token %}
                                <input name="company_id" type="hidden" value="{{ company.id }}">
                                <button class="btn btn-danger">Remove Company</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="general">
        <div class="form-container" id="edit-company-container">
            <button class="closing-btn" id="hide-editing-company">X</button>
            <form action="{% url 'company_detail' company_id=company.id %}" method="post" id="edit-company-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Edit Company Info</h1>
                    <div class="form-group">
                        <label for="name" class="form-label">Company's name</label>
                        <input type="text" name="name" class="form-control" value="{{ company.name }}">
                    </div>
                    <div class="form-group">
                        <label for="industry" class="form-label">Industry</label>
                        <input type="text" name="industry" class="form-control" value="{{ company.industry }}">
                    </div>                          
                    <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" name="address" class="form-control" value="{{ company.address }}">
                    </div>
                    
                    <!-- If company did not have email yet, the value will be an empty string, else show the email -->
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" class="form-control" value="{% if not company.email %}{% else %}{{ company.email }}{% endif %}">
                    </div>

                    <!-- If company did not have phone, the value will be empty string too, else display the phone number -->
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" class="form-control" value="{% if not company.phone %}{% else %}{{ company.phone }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="male_headcount" class="form-label">Male Headcount</label>
                        <input type="number" name="male_headcount" class="form-control" min="0" value="{{ company.male_headcount }}">
                    </div>
                    <div class="form-group">
                        <label for="female_headcount" class="form-label">Female Headcount</label>
                        <input type="number" name="female_headcount" class="form-control" min="0" value="{{ company.female_headcount }}">
                    </div>
                    <div class="form-group">
                        <label for="update_representative_method" class="form-label">Choose how to update representative</label>
                        <select name="update_representative_method" class="form-control" id="update_representative_method">
                            <option selected>{% if company.representative %}{{ company.representative.name }}{% else %}Representative{% endif %}</option>
                            <option value="create_new">Create New</option>
                            <option value="choose_from_list">Choose From List</option>
                        </select>
                    </div>
                    <div id="create-new-method">
                        <div class="form-group">
                            <label for="new_representative_name" class="form-label">Representative Name</label>
                            <input name="new_representative_name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_address" class="form-label">Representative Address</label>
                            <input name="new_representative_address" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_email" class="form-label">Representative Email</label>
                            <input name="new_representative_email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="new_representative_phone" class="form-label">Representative Phone</label>
                            <input name="new_representative_phone" type="text" class="form-control">
                        </div>
                    </div>
                    <div id="choose-from-list-method">
                        <div class="form-group">
                            <label for="representative_id" class="form-label">Representative</label>
                            <select name="representative_id" class="form-control">
                                <option selected disabled>Name</option>
                                {% for person in people %}
    
                                    <option value="{{ person.id }}">{{ person.name }}</option>
    
                                {% endfor %}
                            </select>
                        </div>
                    </div>              
                    <button>Save Change</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/company_detail.js' %}"></script>

{% endblock %}