{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    company detail

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">
        Company detail
    </h1>
    <div class="container-fluid">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Company Name</td>
                    <td><strong>{{ company.name }}</strong></td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td><strong>{{ company.industry }}</strong></td>
                </tr>
                <tr>
                    <td>Representative</td>
                    <td><strong>{{ company.representative }}</strong></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><strong>{{ company.address }}</strong></td>
                </tr>
                <tr>
                    <td>Male Headcount</td>
                    <td><strong>{{ company.male_headcount }}</strong></td>
                </tr>
                <tr>
                    <td>Female HeadCount</td>
                    <td><strong>{{ company.female_headcount }}</strong></td>
                </tr>
                <tr>
                    <td>Created By</td>
                    <td><strong>{{ company.created_by }}</strong></td>
                </tr>
                <tr>
                    <td>Last Modified By</td>
                    <td><strong>{{ company.modified_by }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div id="remove-company-form-container">
            <form action="{% url 'remove_company' %}" method="post" onsubmit="return confirm('Are you really want to remove this company?');">
                {% csrf_token %}
                <input name="company_id" type="hidden" value="{{ company.id }}">
                <button class="btn btn-danger">Remove Company</button>
            </form>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/company_detail.js' %}"></script>

{% endblock %}