{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    contract detail

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">Contract Detail</h1>
    <table class="table table-hover">
        <tr>
            <th>Contract ID</th>
            <td>{{ contract.id }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ contract.client.name }}</td>
        </tr>
        <tr>
            <th>Services</th>
            <td>
                {% for service in contract.services.all.values %}

                    {% if not forloop.last %}

                        {{ service.name }},

                    {% else %}

                        {{ service.name }}

                    {% endif %}

                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Male Headcount</th>
            <td>{{ contract.male_headcount }}</td>
        </tr>
        <tr>
            <th>Female Headcount</th>
            <td>{{ contract.female_headcount }}</td>
        </tr>
        <tr>
            <th>Initiation Date</th>
            <td>{{ contract.initiation_date }}</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>{{ contract.created }}</td>
        </tr>
        <tr>
            <th>Created by</th>
            <td>{{ contract.created_by.username }}</td>
        </tr>
        <tr>
            <th>Contract file</th>
            <td>
                {% if contract.pdf_file %}

                    <a href="{{ contract.pdf_file.url }}" target="_blank">View file</a>

                {% else %}

                    N/A

                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if contract.archived %}

                    Archived

                {% else %}

                    Active

                {% endif %}
            </td>
        </tr>
        
    </table>
    <a href="{% url 'generate_contract_docx' contract.id %}" class="btn btn-primary">Generate Word Document</a>
    {% if not contract.archived %}

        <form action="{% url 'archive_contract' %}" method="post">
            {% csrf_token %}
            <input name="contract_id" value="{{ contract.id }}" type="hidden">
            <button>Archive this contract</button>
        </form>
    
    {% endif %}

{% endblock %}