{% extends "clinic/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}

    contract detail

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">Contract Detail</h1>

    <!-- Display contract information in table -->
    <table class="table table-hover">
        <tr>
            <th>Contract ID</th>
            <td>{{ contract.id }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ contract.client.name }}</td>
        </tr>
        <tr>
            <th>Services</th>
            <td>
                {% for service in contract.services.all.values %}

                    {% if not forloop.last %}

                        {{ service.name }},

                    {% else %}

                        {{ service.name }}

                    {% endif %}

                {% endfor %}
            </td>
        </tr>        
        <tr>
            <th>Male Headcount</th>
            <td>{{ contract.male_headcount }}</td>
        </tr>
        <tr>
            <th>Female Headcount</th>
            <td>{{ contract.female_headcount }}</td>
        </tr>
        <tr>
            <th>Total Value</th>
            <td>{{ contract.total_value|intcomma }} VND</td>
        </tr>
        <tr>
            <th>Discount</th>
            <td>
                {{ contract.discount }}%
            </td>
        </tr>
        <tr>
            <th>Revenue</th>
            <td>
                {{ contract.revenue|intcomma }} VND
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <th>Initiation Date</th>
            <td>{{ contract.initiation_date }}</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>{{ contract.created }}</td>
        </tr>
        <tr>
            <th>Created By</th>
            <td>{{ contract.created_by.username }}</td>
        </tr>
        <tr>
            <th>Last Modified By</th>
            <td>{{ contract.modified_by.username }}</td>
        </tr>
        <tr>
            <th>Contract file</th>
            <td>
                {% if contract.pdf_file %}

                    <a class="no-underline" href="{{ contract.pdf_file.url }}" target="_blank">View file</a>

                {% else %}

                    N/A

                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if contract.archived %}

                    Archived

                {% else %}
                    <div><span style="color: green;">Active</span></div>
                    <div id="archive-form-container">
                        <form action="{% url 'archive_contract' %}" method="post" onsubmit="return confirm('Do you really want to archive this contract?');">
                            {% csrf_token %}
                            <input name="contract_id" value="{{ contract.id }}" type="hidden">
                            <span><i>If this contract was finished,</i></span>
                            <button class="btn btn-link no-underline"><span style="color: red;">Archive this contract</span></button>
                        </form>
                    </div>
                {% endif %}
            </td>
        </tr>
        
    </table>

    <!-- Button to create a word document prefilled with contract information -->
    <div class="general" id="generate-contract-container">
        <a href="{% url 'generate_contract_docx' contract.id %}" class="btn btn-primary" style="margin: 1.5em 0 1.5em 0;">Generate Word Document</a>
    </div>

    <!-- Button to show the editing contract form -->
    <div class="general">
        <button class="btn btn-primary" id="show-editing">Edit Contract</button>
    </div>

    <!-- The editing form container -->
    <div class="general">
        <div class="form-container" id="edit-contract-form-container">

            <!-- Button to hide the form which attached on the form -->
            <button class="closing-btn" id="hide-editing">X</button>

            <!-- the form which was prefill with current contract information -->
            <form action="{% url 'edit_contract' %}" method="post" id="edit-contract-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <h1>Edit Contract</h1>
                    <input name="contract_id" type="hidden" value="{{ contract.id }}">
                    <div class="form-group">
                        <label for="client_id" class="form-label">Client</label>
                        <select name="client_id">
                            <option selected value="{{ contract.client.id }}">{{ contract.client.name }}</option>
                            {% for company in companies %}
        
                                {% if company.id != contract.client.id %}

                                    <option value="{{ company.id }}">{{ company.name }}</option>
        
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chosen_service" class="form-label">Service</label>

                        <!-- list all service, original chosen services were checked for user convenience -->
                        {% for service in services %}
                            <div>
                                <input type="checkbox" name="chosen_services" value="{{ service.id }}" {% if service.chosen %} checked {% endif %}> {{ service.name }}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="form-group">
                        <label for="discount" class="form-label">Discount (%)</label>
                        <input name="discount" class="form-control" type="text" pattern="\d+(\.\d{2})?" value="{{ contract.discount }}">
                    </div>
                    <div class="form-group">
                        <label for="male_headcount" class="form-label">Male Headcount</label>
                        <input name="male_headcount" type="number" min="0" class="form-control" value="{{ contract.male_headcount }}">
                    </div>
                    <div class="form-group">
                        <label for="female_headcount" class="form-label">Female Headcount</label>
                        <input name="female_headcount" type="number" min="0" class="form-control" value="{{ contract.female_headcount }}">
                    </div>
                    <div class="form-group">
                        <label for="initiation_date" class="form-label">Initiation Date</label>
                        <input name="initiation_date" type="date" class="form-control" value="{{ contract.initiation_date|date:'Y-m-d' }}">
                    </div>

                    <!-- File can't be prefilled due to security reason, therefore I just show the file name if the contract already had -->
                    <div class="form-group">
                        <label for="uploaded_file" class="form-label">Current Contract File</label>
                        {% if contract.pdf_file %}

                            <p>{{ contract.pdf_file.name }}</p>

                        {% else %}

                            <p>No file uploaded</p>

                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="contract_file" class="form-label">New Contract File</label>
                        <input name="contract_file" type="file">
                    </div>
                    <button>Save Change</button>
                </div>                
            </form>
        </div>
    </div>
    
{% endblock %}
{% block script %}

    <script src="{% static 'clinic/contract_detail.js' %}"></script>

{% endblock %}