{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    all contracts

{% endblock %}
{% block main %}

    <h1 class="text-center page-title">All Contracts</h1>
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Contract ID
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Representative
                    </th>
                    <th>
                        Male headcount
                    </th>
                    <th>
                        Female headcount
                    </th>
                    <th>
                        Initiation Date
                    </th>
                    <th>
                        Created
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for contract in contracts %}

                    <tr>                        
                        <td class="text-end">
                            <a class="no-underline" href="{% url 'contract_detail' contract_id=contract.id %}">
                                {{ contract.id }}
                            </a>                            
                        </td>
                        <td>{{ contract.client.name }}</td>
                        <td>{{ contract.client.representative }}</td>
                        <td class="text-end">{{ contract.male_headcount }}</td>
                        <td class="text-end">{{ contract.female_headcount }}</td>
                        <td class="text-end {% if contract.in_within_10_days %} text-danger {% endif %}">{{ contract.initiation_date }}</td>
                        <td class="text-end">{{ contract.created }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}