{% extends "clinic/layout.html" %}
{% load static %}

<!-- load library that has thousand separator -->
{% load humanize %}

{% block title %}

    index

{% endblock %}
{% block main %}

    <h1 class="text-center">All services</h1>

    <!-- This part was disable due to the exchange rate API was not accessible anymore -->
    <!-- <div class="text-center">
        <p>Currency</p>
        <select id="currency">
            <option selected value="VND">VND</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="NZD">NZD</option>
            <option value="AUD">AUD</option>
            <option value="SGD">SGD</option>
            <option value="HKD">HKD</option>
            <option value="CAD">CAD</option>
            <option value="GBP">GBP</option>
        </select>
    </div> -->

    <div class="container" id="services-container">
        {% for service in services %}
            <a class="service-detail-link" href="{% url 'service_detail' service_id=service.id %}">
                <div class="service-info my-service-info">
                    <div class="field-name">
                        <ul class="no-bullet">
                            <li><i class="i-left">Service's name</i></li>
                            <li><i class="i-left">Male Price</i></li>
                            <li><i class="i-left">Female Price</i></li>
                            <li><i class="i-left">Function</i></li>
                        </ul>
                    </div>
                    <div class="field-value">
                        <ul class="no-bullet">
                            <li><strong><a>{{ service.name }}</a></strong></li>
                            <li>
                                
                                    {% if service.male_price == None %}
        
                                        <strong>N/A</strong>
        
                                    {% else %}
        
                                        <strong class="price" data-price="{{ service.male_price }}">{{ service.male_price|intcomma }}</strong> <strong class="price-currency">VND</strong>
        
                                    {% endif %}                            
                                
                            </li>
                            <li>
                                
                                    {% if service.female_price == None %}
        
                                        <strong>N/A</strong>
        
                                    {% else %}
        
                                        <strong class="price" data-price="{{ service.female_price }}">{{ service.female_price|intcomma }}</strong> <strong class="price-currency">VND</strong>
        
                                    {% endif %}                            
                                
                            </li>
                            <li><strong>{{ service.benefit }}</strong></li>
                        </ul>
                    </div>           
                </div>
            </a>            

        {% empty %}

            <p>No service yet</p>

        {% endfor %}
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/index.js' %}"></script>

{% endblock %}
