{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- this line is to get the edit button icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'clinic/bootstrap.css' %}">
        <script src="{% static 'clinic/bootstrap.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'clinic/styles.css' %}">        
        {% block script %}{% endblock %}
        <script src="{% static 'clinic/layout.js' %}"></script>

        <!-- Send checking whether user logged in or not -->
        <script>
            var isAuthenticated = {{ user.is_authenticated | lower }};
            {% if user.is_authenticated %}

                var user_id = {{ user.id }};
                var username = "{{ user.username }}";

            {% endif %}
        </script>
    </head>
    <body>
        {% if user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-custom border" id="pc-nav">
                <a class="navbar-brand" href="{% url 'index' %}"><span><h1>Clinic</h1></span></a>
                <div class="collapse navbar-collapse" id="navbar">                
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item" id="reading-items">
                            <div class="dropdown">
                                <button class="nav-link active" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                    Lists
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <li id="my-people-list-item"><a class="dropdown-item" href="{% url 'my_people' %}">People added by me</a></li>                                                                
                                    <li id="all-people-list-item"><a class="dropdown-item" href="{% url 'people' %}">People</a></li>
                                    <li id="all-companies-list-item"><a class="dropdown-item" href="{% url 'companies' %}">Companies</a></li>
                                    <li id="active-contracts-list-item"><a class="dropdown-item" href="{% url 'all_contracts' %}">Active Contracts</a></li>
                                    <li id="archived-contracts-list-item"><a class="dropdown-item" href="{% url 'all_archived_contracts' %}">Archived Contracts</a></li>
                                    <li id="all-meetings-list-item"><a class="dropdown-item" href="{% url 'all_meetings' %}">All Meetings</a></li>
                                    <li id="upcoming-meetings-list-item"><a class="dropdown-item" href="{% url 'upcoming_meetings' %}">Upcoming Meetings</a></li>
                                </ul>
                            </div>
                        </li>               
                        <li class="nav-item" id="adding-items">
                            <div class="dropdown">
                                <button class="nav-link active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li id="add-service-list-item"><a class="dropdown-item" href="{% url 'add_service' %}">Add Service</a></li>
                                    <li id="add-people-list-item"><a class="dropdown-item" href="{% url 'add_people' %}">Add People</a></li>
                                    <li id="add-company-list-item"><a class="dropdown-item" href="{% url 'add_company' %}">Add Company</a></li>
                                    <li id="add-contract-list-item"><a class="dropdown-item" href="{% url 'add_contract' %}">Add Contract</a></li>
                                    <li id="add-meeting-list-item"><a class="dropdown-item" href="{% url 'add_meeting' %}">Add Meeting</a></li>
                                </ul>
                            </div>
                        </li>                                          
                    </ul>                
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="nav-link active" style="color: purple;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.username }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="user-dropdown-menu">                                  
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                                </ul>
                            </div>
                        </li>                    
                    </ul>
                </div>
            </nav>
            <div class="mobile-nav">                

                <!-- Top Navigation Menu -->
                <div class="topnav">
                    <a href="{% url 'index' %}" class="active">Clinic</a>
                    <div id="mobile-menu">
                        <a href="javascript:void(0);" id="profile-btn">{{ user.username }}</a>
                        <div id="profile-menu">
                            <a class="sub-menu" href="{% url 'logout' %}">Log out</a>
                        </div>
                        <div id="mobile-reading-items">
                            <a href="javascript:void(0);" id="lists-btn">Lists</a>
                            <div id="lists-menu">
                                <a id="mobile-my-people-list-item" class="sub-menu" href="{% url 'my_people' %}">People added by me</a>
                                <a id="mobile-people-list-item" class="sub-menu" href="{% url 'people' %}">People</a>
                                <a id="mobile-companies-list-item" class="sub-menu" href="{% url 'companies' %}">Companies</a>
                                <a id="mobile-active-contracts-list-item" class="sub-menu" href="{% url 'all_contracts' %}">Active Contracts</a>
                                <a id="mobile-archived-contracts-list-item" class="sub-menu" href="{% url 'all_archived_contracts' %}">Archived Contracts</a>
                                <a id="mobile-all-meetings-list-item" class="sub-menu" href="{% url 'all_meetings' %}">All Meetings</a>
                                <a id="mobile-upcoming-meetings-list-item" class="sub-menu" href="{% url 'upcoming_meetings' %}">Upcoming Meetings</a>
                            </div>
                        </div>                        
                        <div id="mobile-adding-items">
                            <a href="javascript:void(0);" id="add-btn">Add</a>
                            <div id="add-menu">
                                <a id="mobile-add-service-list-item" class="sub-menu" href="{% url 'add_service' %}">Add Service</a>
                                <a id="mobile-add-people-list-item" class="sub-menu" href="{% url 'add_people' %}">Add People</a>
                                <a id="mobile-add-company-list-item" class="sub-menu" href="{% url 'add_company' %}">Add Company</a>
                                <a id="mobile-add-contract-list-item" class="sub-menu" href="{% url 'add_contract' %}">Add Contract</a>
                                <a id="mobile-add-meeting-list-item" class="sub-menu" href="{% url 'add_meeting' %}">Add Meeting</a>
                            </div>
                        </div>                        
                    </div>
                    <a href="javascript:void(0);" class="icon" id="hamburger-btn">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>                    
                    
            </div>

        {% endif %}

        <header class="text-center">
            {% if yay_message %}
                <div class="alert alert-success" role="alert">
                    {{ yay_message }}
                </div>
            {% endif %}
            {% if nay_message %}

                <div class="alert alert-danger" role="alert">
                    {{ nay_message }}
                </div>

            {% endif %}            
        </header>
        <main>{% block main %}{% endblock %}</main>
        <footer class="text-center">
            &#169;Nguyen Dinh Thi Van
        </footer>
    </body>
</html>