{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- this line is to get the edit button icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'clinic/bootstrap.css' %}">
        <script src="{% static 'clinic/bootstrap.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'clinic/styles.css' %}">        
        {% block script %}{% endblock %}
        <script src="{% static 'clinic/layout.js' %}"></script>

        <!-- Send checking whether user logged in or not -->
        <script>
            var isAuthenticated = {{ user.is_authenticated | lower }};
            {% if user.is_authenticated %}

                var user_id = {{ user.id }};
                var username = "{{ user.username }}";

            {% endif %}
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom border">
            <a class="navbar-brand" href="{% url 'index' %}"><span><h1>Clinic</h1></span></a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="nav-link active" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                Lists
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="{% url 'index' %}">Services</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_people' %}">People added by me</a></li>                                                                
                                <li id="all-people-list-item"><a class="dropdown-item" href="{% url 'people' %}">People</a></li>
                                <li id="all-companies-list-item"><a class="dropdown-item" href="{% url 'companies' %}">Companies</a></li>
                                <li><a class="dropdown-item" href="{% url 'all_contracts' %}">All Active Contracts</a></li>
                                <li><a class="dropdown-item" href="{% url 'all_archived_contracts' %}">All Archived Contracts</a></li>
                            </ul>
                        </div>
                    </li>
                    {% if user.is_authenticated %}

                        <li class="nav-item" id="adding-items">
                            <div class="dropdown">
                                <button class="nav-link active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li id="add-service-list-item"><a class="dropdown-item" href="{% url 'add_service' %}">Add Service</a></li>
                                    <li id="add-people-list-item"><a class="dropdown-item" href="{% url 'add_people' %}">Add People</a></li>
                                    <li id="add-company-list-item"><a class="dropdown-item" href="{% url 'add_company' %}">Add Company</a></li>
                                    <li id="add-contract-list-item"><a class="dropdown-item" href="{% url 'add_contract' %}">Add Contract</a></li>
                                </ul>
                            </div>
                        </li>                        

                    {% endif %}                    
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="nav-link active" style="color: purple;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.username }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="user-dropdown-menu">                                  
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                                </ul>
                            </div>
                        </li>
    
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login' %}">
                                Log in
                            </a>
                        </li>

                    {% endif %}
                    
                </ul>
            </div>
        </nav>
        <header class="text-center">
            {% if yay_message %}
                <div class="alert alert-success" role="alert">
                    {{ yay_message }}
                </div>
            {% endif %}
            {% if nay_message %}

                <div class="alert alert-danger" role="alert">
                    {{ nay_message }}
                </div>

            {% endif %}            
        </header>
        <div id="testing"></div>
        <main>{% block main %}{% endblock %}</main>
        <footer class="text-center">
            &#169;Nguyen Dinh Thi Van
        </footer>
    </body>
</html>