{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    meeting agenda

{% endblock %}
{% block main %}

    <h2 class="text-center page-title">Schedule</h2>
    <div class="container-fluid">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Client</td>
                    <td>{{ meeting.client.name }}</td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td>{{ meeting.start_time }}</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>{{ meeting.end_time }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {% if not meeting.end_or_not %}

                            <span style="color: green;">Active</span>

                        {% else %}

                            <span style="color: red;">Ended</span>

                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="text-center page-title">Agenda</h2>
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td><strong>Item's Content</strong></td>
                    {% if not meeting.end_or_not %}

                        <td>Remove Item</td>

                    {% else %}

                        <td><strong>Results</strong></td>

                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in meeting.agenda.all.values %}

                    <tr>
                        <td>Item {{ forloop.counter }}</td>
                        <td>{{ item.item }}</td>
                        
                        <!-- If meeting was ended, show result -->
                        {% if meeting.end_or_not %}

                            <td>
                                {{ item.result }}
                            </td>

                        {% endif %}

                        <!-- If user has permission to edit meeting information AND meeting does not ended yet -->
                        {% if meeting.edit_permission and not meeting.end_or_not %}
                            <td>
                                <form action="{% url 'meeting_item_remove' meeting_id=meeting.id %}" method="post" onsubmit="return confirm('Do you really want to remove this agenda item?');">
                                    {% csrf_token %}
                                    <input name="item_id" type="hidden" value="{{ item.id }}">
                                    <button class="btn btn-link no-underline"><span style="color: red;">Remove Item</span></button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>

                {% empty %}

                    <tr>
                        <td>N/A</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not meeting.end_or_not %}
        <script>
            // save the variable for Javascript
            var isMeetingEnd = false;
        </script>
        {% if meeting.edit_permission %}
            <script>
                // Save the variable for JavaScript
                var userHasPermission = true;
            </script>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <!-- button to show the form that allow add item to agenda -->
                                <td>
                                    <button class="btn btn-primary" id="show-add-meeting-agenda-form">Add Item</button>
                                </td>

                                <!-- the form that allow user to end the meeting -->
                                <td>
                                    <button class="btn btn-danger" id="show-end-meeting-form">End Meeting</button>
                                </td>

                                <!-- button to show the form that allow user to editing the meeting schedule -->
                                <td>
                                    <button class="btn btn-info" id="show-edit-meeting-form">Edit Meeting</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- form for user to add item to meeting agenda -->
            <div class="general">
                <div class="form-container" id="add-agenda-container">
                    <button class="closing-btn" id="hide-add-agenda-form">X</button>
                    <form action="{% url 'add_meeting_agenda' meeting_id=meeting.id %}" method="post" id="add-agenda-form">
                        {% csrf_token %}
                        <div class="container">
                            <h1>Add Item</h1>
                            {% for i in "12345" %}
        
                                <div class="form-group">
                                    <label for="item_{{ i }}" class="form-label">Item {{ i }}</label>
                                    <textarea class="form-control" name="item_{{ i }}"></textarea>
                                </div>
        
                            {% endfor %}
        
                            <p><i>If meeting has less than 5 items, just ignore the excessive items</i></p>
                            <p><i>If it has more than 5 items, you can add more later</i></p>
                            
                            <button>Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- the form that allow user to end the meeting -->
            <div class="general">
                <div class="form-container" id="end-meeting-form-container">
                    <button class="closing-btn" id="hide-end-meeting-form">X</button>
                    <form action="{% url 'end_meeting' %}" method="post" id="end-meeting-form" onsubmit="return confirm('Are you really want to end this meeting?');">
                        {% csrf_token %}
                        <input name="meeting_id" type="hidden" value="{{ meeting.id }}">
                        <div class="container">
                            <h1>Meeting Result</h1>
                            <p>Please fill agenda's item result to end the meeting</p>
                            {% for item in meeting.agenda.all.values %}

                                <div class="form-group">
                                    <label class="form-label" for="item_result_{{ item.id }}">Item {{ forloop.counter }}: {{ item.item }}</label>
                                    <textarea class="form-control" type="text" name="item_result_{{ item.id }}" autocomplete="off" required></textarea>
                                </div>

                            {% endfor %}
                            <button>Save Results And End Meeting</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- form that allow user to edit the meeting schedule -->
            <div class="general">
                <div class="form-container" id="edit-meeting-form-container">
                    <button class="closing-btn" id="hide-edit-meeting-form">X</button>
                    <form action="{% url 'edit_meeting' meeting_id=meeting.id %}" method="post" id="edit-meeting-form">
                        {% csrf_token %}
                        <div class="container">
                            <h1>Edit Meeting</h1>
                            <div class="form-group">
                                <label for="client_id" class="form-label">Client</label>
                                <select name="client_id">
                                    <option selected value="{{ meeting.client.id }}">{{ meeting.client.name }}</option>
                                    {% for company in companies %}
        
                                        {% if company.name != meeting.client.name %}
        
                                            <option value="{{ company.id }}">{{ company.name }}</option>
        
                                        {% endif %}
        
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="start_time" class="form-label">Start Time</label>
                                <input name="start_time" type="datetime-local" class="form-control" value="{{ meeting.start_time|date:'Y-m-d\TH:i' }}" required>
                            </div>
                            <div class="form-group">
                                <label for="end_time" class="form-label">End Time</label>
                                <input name="end_time" type="datetime-local" class="form-control" value="{{ meeting.end_time|date:'Y-m-d\TH:i' }}" required>
                            </div>
                            <button>Save</button>
                        </div>
                    </form>
                </div>
            </div>

        {% else %}
            <script>
                // Save the variable for JavaScript using
                var userHasPermission = false;
            </script>
        
        {% endif %}
    {% else %}
        <script>
            // Save the variable for JavaScript
            var isMeetingEnd = true;
        </script>
    {% endif %}    

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/meeting_agenda.js' %}"></script>

{% endblock %}