{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    meeting agenda

{% endblock %}
{% block main %}

    <h2 class="text-center page-title">Schedule</h2>
    <div class="container-fluid">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Client</td>
                    <td>{{ meeting.client.name }}</td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td>{{ meeting.start_time }}</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>{{ meeting.end_time }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {% if not meeting.end_or_not %}

                            <span style="color: green;">Active</span>

                        {% else %}

                            <span style="color: red;">Ended</span>

                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="text-center page-title">Agenda</h2>
    <div class="container-fluid">
        <table class="table table-hover">
            <tbody>
                {% for item in meeting.agenda.all.values %}

                    <tr>
                        <td>Item {{ forloop.counter }}</td>
                        <td>{{ item.item }}</td>
                        <td>
                            <form action="{% url 'meeting_item_remove' meeting_id=meeting.id %}" method="post" onsubmit="return confirm('Do you really want to remove this agenda item?');">
                                {% csrf_token %}
                                <input name="item_id" type="hidden" value="{{ item.id }}">
                                <button class="btn btn-link no-underline">-</button>
                            </form>
                        </td>
                    </tr>

                {% empty %}

                    <tr>
                        No item yet
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not meeting.end_or_not %}

        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a class="text-center btn btn-primary" href="{% url 'add_meeting_agenda' meeting_id=meeting.id %}">Add Item</a>
                            </td>
                            <td>
                                <form action="{% url 'end_meeting' %}" method="post" id="end-meeting-form" onsubmit="return confirm('Are you really want to end this meeting?');">
                                    {% csrf_token %}
                                    <input name="meeting_id" type="hidden" value="{{ meeting.id }}">
                                    <button class="btn btn-danger">End Meeting</button>
                                </form>
                            </td>
                            <td>
                                <a class="text-center btn btn-info" href="{% url 'edit_meeting' meeting_id=meeting.id %}">Edit Meeting</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}    

{% endblock %}