{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    people

{% endblock %}
{% block main %}

    <h1 class="text-center" style="margin-bottom: 1.5em;">Clients</h1>
    <div class="container-fluid">
        <table class="table table-info">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Latest message</th>
                    <th>Sent at</th>
                    <th>New Message</th>
                </tr>
            </thead>
            <tbody>
                {% for item in people_with_latest_message %}

                    <tr>
                        <td>
                            <a class="no-underline" href="{% url 'person_detail' person_id=item.person.id %}">{{ item.person.name }}</a>                            
                        </td>
                        <td>
                            <!-- Get company from people class -->
                            {% for company in item.person.company.all.values %}

                                {% if not forloop.last %}

                                    {{ company.name }},

                                {% else %}

                                    {{ company.name }}

                                {% endif %}

                            {% endfor %}

                            <!-- Get company from company's representative -->
                            {% for company in item.person.companies.all.values %}

                                <!-- Eliminate duplicate -->
                                {% if company not in item.person.company.all.values %}

                                    {% if not forloop.last %}
                                    
                                        {{ company.name }},

                                    {% else %}

                                        {{ company.name }}

                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </td>
                        <td>{{ item.latest_message.content }}</td>
                        <td>{{ item.latest_message.date }}</td>
                        <td style="text-align: center;"><a href="{% url 'add_message_from_all_people_page' person_id=item.person.id %}" style="text-decoration: none;">+</a></td>                        
                    </tr>                    

                {% empty %}

                    <tr>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/people.js' %}"></script>

{% endblock %}