{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    people

{% endblock %}
{% block main %}

    <h1 class="text-center" style="margin-bottom: 1.5em;">Contacts</h1>
    <div class="container-fluid">
        <table class="table table-info">
            <thead class="table table-dark">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Latest Message</th>
                    <th class="hide-for-mobile">Sent At</th>
                    <th>New Message</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}

                    <tr>
                        <td>
                            <a class="no-underline" href="{% url 'person_detail' person_id=person.id %}">{{ person.name }}</a>
                        </td>                        
                        <td>
                            {% for company in person.unique_companies %}

                                {% if not forloop.last %}

                                    {{ company.name }},

                                {% else %}

                                    {{ company.name }}

                                {% endif %}

                            {% endfor %}
                        </td>
                        <td>
                            {{ person.latest_message.content }}
                        </td>
                        <td class="hide-for-mobile">
                            {{ person.latest_message.date }}
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'add_message_from_all_people_page' person_id=person.id %}" class="no-underline">+</a>
                        </td>
                    </tr>

                {% empty %}

                    No contact yet

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block script %}

    <script src="{% static 'clinic/people.js' %}"></script>

{% endblock %}