{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    person's detail

{% endblock %}
{% block main %}

    <h1 class="text-center">{{ person.name }}</h1>
    <div class="container-fluid">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td id="original-name">
                        <strong>
                            {{ person.name }}
                        </strong>                        
                    </td>
                </tr>
                <tr>
                    <td>Position</td>
                    <td id="original-position">
                        <strong>
                            {% if not person.position %}

                                N/A

                            {% else %}

                                {{ person.position }}

                            {% endif %}
                        </strong>                        
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="original-email">
                        <strong>
                            {% if not person.email %}

                                N/A

                            {% else %}

                                {{ person.email }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td id="original-phone">
                        <strong>
                            {% if not person.phone %}

                                N/A

                            {% else %}

                                {{ person.phone }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>        
                <tr>
                    <td>Note</td>
                    <td id="original-note">
                        <strong>
                            {% if not person.note %}

                                N/A

                            {% else %}

                                {{ person.note }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="testing"></div>
    <div class="text-center">
        <button class="btn btn-primary" id="edit-btn">
            Update
        </button>
    </div>
    <div class="edit-div">
        <form id="edit-form">
            <div class="container my-person-edit-container">
                <h1>Edit info</h1>
                <p>Please enter person's information as follow</p>
                
                <label for="name">Name</label>
                <input id="name" type="text" value="{{ person.name }}">                             
                <label for="position">Position</label>
                <input id="position" type="text" value="{{ person.position }}">                        
                <label for="email">Email</label>
                <input id="email" type="email" value="{{ person.email }}">            
                <label for="phone">Phone</label>
                <input id="phone" type="text" value="{{ person.phone }}">            
                <label for="note">Note</label>
                <textarea id="note">{{ person.note }}</textarea>
            
                <button>Save</button>                
            </div>
                      
        </form>
    </div>
{% endblock %}
{% block script %}

    <script>
        // pass the person id to JavaScript
        var person_id = {{ person.id }}
    </script>
    <script src="{% static 'clinic/person_detail.js' %}"></script>

{% endblock %}