{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    person's detail

{% endblock %}
{% block main %}

    <h1 class="text-center">{{ person.name }}</h1>
    <div class="container-fluid">
        <table class="table table-borderless table-info table-striped align-middle caption-top person-info-table">
            <caption>Person's information<button class="btn btn-link" id="edit-btn"><i class="fa fa-edit" style="font-size:24px;"></i></button></caption>
            <tbody>
                <tr>
                    <td>Companies</td>
                    <td>
                        <strong>
                            {% for company in person.company.all.values %}

                                {% if not forloop.last %}

                                    {{ company.name }},

                                {% else %}

                                    {{ company.name }}

                                {% endif %}

                            {% empty %}

                                N/A

                            {% endfor %}
                        </strong>                        
                    </td>
                </tr>
                <tr>
                    <td>Position</td>
                    <td id="original-position">
                        <strong>
                            {% if not person.position %}

                                N/A

                            {% else %}

                                {{ person.position }}

                            {% endif %}
                        </strong>                        
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="original-email">
                        <strong>
                            {% if not person.email %}

                                N/A

                            {% else %}

                                {{ person.email }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td id="original-phone">
                        <strong>
                            {% if not person.phone %}

                                N/A

                            {% else %}

                                {{ person.phone }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Note</td>
                    <td id="original-note">
                        <strong>
                            {% if not person.note %}

                                N/A

                            {% else %}

                                {{ person.note }}

                            {% endif %}
                        </strong>
                    </td>
                </tr>         
            </tbody>
        </table>
    </div>
    <div class="edit-div">
        <form id="edit-form">
            <div class="container my-person-edit-container">
                <h1>Edit info</h1>
                <p>Please enter person's information as follow</p>
                
                <label for="name">Name</label>
                <input id="name" type="text" value="{{ person.name }}">                             
                <label for="position">Position</label>
                <input id="position" type="text" value="{{ person.position }}">                        
                <label for="email">Email</label>
                <input id="email" type="email" value="{{ person.email }}">            
                <label for="phone">Phone</label>
                <input id="phone" type="text" value="{{ person.phone }}">            
                <label for="note">Note</label>
                <textarea id="note">{{ person.note }}</textarea>
            
                <button>Save</button>                
            </div>
                      
        </form>
    </div>

    <div class="container-fluid">
        <table class="table table-borderless table-hover align-middle caption-top message-table">
            <caption>Messages from this person</caption>
            <thead class="table-dark">
                <tr>
                    <th width="70%">Message</th>
                    <th width="30%">Sent at</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}

                    <tr>                        
                        <td>{{ message.content }}</td>
                        <td>{{ message.date }}</td>
                    </tr>

                {% empty %}

                    <tr>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>

                {% endfor %}
                <tr>
                    <td colspan="2"><button id="new-message-show">+</button></td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="general">
        <div class="form-container" id="new-message">
            <form action="{% url 'message' person_id=person.id %}" method="post" id="message-form">
                {% csrf_token %}
                <div class="container">
                    <h1>New Message</h1>
                    <div class="form-group">
                        <label for="content" class="form-label">Content</label>
                        <textarea name="content" id="content" cols="40" rows="5" class="form-control" placeholder="Enter message..."></textarea>
                    </div>
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div id="remove-person-form-container">
            <form action="{% url 'remove_person' %}" method="post" id="remove-person-form" onsubmit="return confirm('Are you really want to delete this person information?');">
                {% csrf_token %}
                <input name="person_id" type="hidden" value="{{ person.id }}">
                <button class="btn btn-danger">Remove Person</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script>
        // pass the person id to JavaScript
        var person_id = {{ person.id }}
    </script>
    <script src="{% static 'clinic/person_detail.js' %}"></script>

{% endblock %}