{% extends "clinic/layout.html" %}
{% block title %}

    Register

{% endblock %}
{% block main %}

    <h1 class="text-center">Register</h1>
    <div class="form-div">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="input-line">
                <label class="input-left">
                    Username
                </label>
                <input class="input-box" name="username" type="text" autofocus autocomplete="off">
                <div class="input-right">
                    <p>Choose your nick name or shortname, which required to be unique</p>
                </div>
            </div>
            <div class="input-line">
                <label class="input-left">
                    Email
                </label>
                <input class="input-box" name="email" type="email" autocomplete="off">
                <div class="input-right">
                    <p>Your valid email</p>
                </div>
            </div>
            <div class="input-line">
                <label class="input-left">
                    Password
                </label>
                <input class="input-box" name="password" type="password" autocomplete="off">
                <div class="input-right">
                    <p>Your password should have at least 6 characters, including alphabet, number, and special characters</p>
                </div>
            </div>
            <div class="input-line">
                <label class="input-left">
                    Confirm password
                </label>
                <input class="input-box" name="confirm" type="password" autocomplete="off">
                <div class="input-right">
                    <p>Confirm your password</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" id="register-btn">Register</button>
            </div>
        </form>
    </div>

{% endblock %}