{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    service detail

{% endblock %}
{% block main %}

    <h1 class="text-center" style="margin-bottom: 1.5em;">{{ service.name }}</h1>

    <div class="container-fluid">
        <table class="table table-hover">
            <tbody class="field-value" id="original-value" data-service_id="{{ service.id }}">
                <tr>
                    <td>Service</td>
                    <td id="service-name" data-service_name="{{ service.name }}"><strong>{{ service.name }}</strong></td>
                </tr>
                <tr>
                    <td>Male Price</td>
                    <td id="service-male-price" data-service_male_price="{{ service.male_price }}"><strong>{{ service.male_price }}</strong></td>
                </tr>
                <tr>
                    <td>Female Price</td>
                    <td id="service-female-price" data-service_female_price="{{ service.female_price }}"><strong>{{ service.female_price }}</strong></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td id="service-description" data-service_description="{{ service.description }}"><strong>{{ service.description }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="edit-btn-container">
                            <button class="btn btn-primary" id="edit-btn">
                                Edit
                            </button>
                        </div>
                    </td>
                    <td>
                        <div id="remove-service-form-container">
                            <form action="{% url 'remove_service' %}" method="post" id="remove-service-form" onsubmit="return confirm('Are you really want to remove this service?');">
                                {% csrf_token %}
                                <input name="service_id" type="hidden" value="{{ service.id }}">
                                <button class="btn btn-danger" id="remove-service-btn">Remove Service</button>
                            </form>
                        </div>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

{% endblock %}
{% block script %}

        <script src="{% static 'clinic/service_detail.js' %}"></script>

{% endblock %}