{% extends "clinic/layout.html" %}
{% load static %}
{% block title %}

    testing

{% endblock %}
{% block main %}

    <div class="general">
        <div class="form-container">
            <form action="{% url 'end_meeting' %}" method="post" id="testing-form">
                {% csrf_token %}
                <div class="container">
                    <h1>Edit Meeting</h1>
                    <div class="form-group">
                        <label for="content" class="form-label">Content</label>
                        <input name="content" type="text" class="form-control">
                    </div>
                    <button>End Meeting</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}