body {
  font-family: sans-serif; }

body {
  color: auto;
  background-color: bisque; }

main {
  min-height: 40vh; }

footer {
  margin-top: 150px;
  font-family: sans-serif;
  font-size: 13px;
  font-style: italic;
  color: grey; }

.navbar-custom {
  padding: 0 60px 0 30px;
  background: #FAD6A5;
  margin-bottom: 30px; }

header {
  height: 50px;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

.page-title {
  margin-bottom: 1.5em; }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.container {
  margin: 50px 0; }

.service-detail-link {
  text-decoration: none; }

.my-service-info, .my-people-info {
  display: grid;
  grid-template-columns: 30% auto;
  margin-top: 25px;
  margin-left: 100px;
  padding-top: 25px !important;
  border: 1px solid grey;
  background-color: white; }

.service-name {
  text-decoration: none; }

.i-left {
  font-size: 18px;
  margin: 10px 20px; }

.no-bullet {
  list-style-type: none; }

.my-edit-form, .my-service-detail-container {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 25px 50px 0 100px;
  padding-top: 25px;
  border: 1px solid grey;
  background-color: #D3D3D3; }

#edit-btn {
  margin: 50px 0; }

.service-input {
  border: 1px solid grey;
  padding-left: 5px;
  width: 400px; }

.person-detail-link {
  text-decoration: none; }

.my-person-detail-container {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 25px 50px 0 100px;
  padding-top: 25px;
  border: 1px solid grey;
  background-color: #D3D3D3; }

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.closing-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: black;
  top: 2px;
  right: 2px; }

.general {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-container {
  display: block;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: all 1s;
  transform: translateY(-200px); }

#edit-contract-form-container {
  transform: translateY(0); }

#add-meeting-form .container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em; }
  @media screen and (max-width: 767px) {
    #add-meeting-form .container {
      width: 100vw; } }
#add-meeting-form h1, #add-meeting-form p {
  text-align: center;
  margin-bottom: 1.5em; }
#add-meeting-form .form-group {
  margin-bottom: 1.5em; }
#add-meeting-form .form-group:focus-within {
  transform: scale(1.1, 1.1);
  transition: all .6s; }
#add-meeting-form .form-label {
  display: block;
  font-size: .75em;
  color: #555;
  opacity: 1; }
#add-meeting-form .form-control {
  box-shadow: none;
  border-radius: .25em;
  border-style: none none solid none;
  border-color: #ccc;
  padding: .2em;
  font-size: 1.5em;
  transition: all .6s; }
#add-meeting-form .form-control::placeholder {
  color: #aaa; }
#add-meeting-form .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: orange; }
#add-meeting-form .form-control:invalid:focus {
  border-color: red; }
#add-meeting-form .form-control:valid {
  border-color: green; }
#add-meeting-form textarea {
  resize: none; }
#add-meeting-form button {
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: .25em;
  padding: .75em;
  background-color: #4412e8;
  font-size: 1em;
  color: white; }
#add-meeting-form button:hover {
  cursor: pointer;
  background-color: #2904a4; }

#edit-contract-form .container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em; }
  @media screen and (max-width: 767px) {
    #edit-contract-form .container {
      width: 100vw; } }
#edit-contract-form h1, #edit-contract-form p {
  text-align: center;
  margin-bottom: 1.5em; }
#edit-contract-form .form-group {
  margin-bottom: 1.5em; }
#edit-contract-form .form-group:focus-within {
  transform: scale(1.1, 1.1);
  transition: all .6s; }
#edit-contract-form .form-label {
  display: block;
  font-size: .75em;
  color: #555; }
#edit-contract-form .form-control {
  box-shadow: none;
  padding: .2em;
  border-radius: .25em;
  border-color: #ccc;
  border-style: none none solid none;
  font-size: 1.5em;
  transition: all .6s; }
#edit-contract-form .form-control::placeholder {
  color: #aaa; }
#edit-contract-form .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: orange; }
#edit-contract-form .form-control:invalid:focus {
  border-color: red; }
#edit-contract-form .form-control:valid {
  border-color: green; }
#edit-contract-form textarea {
  resize: none; }
#edit-contract-form button {
  outline: none;
  border: none;
  border-radius: .25em;
  padding: .75em;
  background-color: #4412e8;
  font-size: 1em;
  color: white; }
#edit-contract-form button:hover {
  background-color: #2904a4; }

#edit-meeting-form .container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em; }
  @media screen and (max-width: 767px) {
    #edit-meeting-form .container {
      width: 100vw; } }
#edit-meeting-form h1 {
  text-align: center;
  margin-bottom: 1.5em; }
#edit-meeting-form .form-group {
  margin-bottom: 1.5em; }
#edit-meeting-form .form-label {
  display: block;
  font-size: .75em; }
#edit-meeting-form button {
  outline: none;
  border: none;
  border-radius: .25em;
  padding: .75em;
  background-color: #4412e8;
  font-size: 1em;
  color: white; }
#edit-meeting-form button:hover {
  background-color: #2904a4; }

#edit-service-form .container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em; }
  @media screen and (max-width: 767px) {
    #edit-service-form .container {
      width: 100vw; } }
#edit-service-form h1 {
  text-align: center; }
#edit-service-form h1, #edit-service-form .form-group {
  margin-bottom: 1.5em; }
#edit-service-form .form-group:focus-within {
  transform: scale(1.1, 1.1);
  transition: all .6s; }
#edit-service-form .form-label {
  display: block;
  font-size: .75em;
  color: #555;
  opacity: 0;
  transform: translateX(-100px);
  transition: all .3s; }
#edit-service-form .focused .form-label {
  opacity: 1;
  transform: translateX(0); }
#edit-service-form .form-control {
  box-shadow: none;
  border-radius: .25em;
  border-color: #ccc;
  border-style: none none solid none;
  padding: .2em;
  font-size: 1.5em;
  transition: all .6s; }
#edit-service-form .form-control::placeholder {
  color: #aaa; }
#edit-service-form .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: orange; }
#edit-service-form .form-control:invalid:focus {
  border-color: red; }
#edit-service-form .form-control:valid {
  border-color: green; }
#edit-service-form textarea {
  resize: none; }
#edit-service-form button {
  outline: none;
  border: none;
  border-radius: .25em;
  background-color: #4412e8;
  padding: .75em;
  font-size: 1em;
  color: white; }
#edit-service-form button:hover {
  cursor: pointer;
  background-color: #2904a4; }

#add-contract-form .container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 40vw; }
  @media screen and (max-width: 767px) {
    #add-contract-form .container {
      width: 100vw; } }
#add-contract-form h1, #add-contract-form .form-group {
  margin-bottom: 1.5em; }
#add-contract-form h1 {
  text-align: center; }
#add-contract-form .form-group:focus-within {
  transform: scale(1.1, 1.1);
  transition: all .6s; }
#add-contract-form .form-label {
  display: block;
  font-size: .75em;
  color: #555;
  opacity: 0;
  transform: translateX(-100px);
  transition: all .3s; }
#add-contract-form .focused .form-label {
  opacity: 1;
  transform: translateX(0); }
#add-contract-form .form-control {
  box-shadow: none;
  padding: .2em;
  border-radius: .25em;
  border-style: none none solid none;
  border-color: #ccc;
  font-size: 1.5em;
  transition: all .6s; }
#add-contract-form .form-control::placeholder {
  color: #aaa; }
#add-contract-form .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: orange; }
#add-contract-form .form-control:invalid:focus {
  border-color: red; }
#add-contract-form .form-control:valid {
  border-color: green; }
#add-contract-form button {
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: .25em;
  padding: .75em;
  background-color: #4412e8;
  color: white;
  font-size: 1em; }
#add-contract-form button:hover {
  background-color: #2904a4; }

#register-form .container, #login-form .container, #add-people-form .container, #add-service-form .container, #add-company-form .container, #add-message-form .container, #edit-company-form .container, #edit-person-detail-form .container, #message-form .container, #add-agenda-form .container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em; }
  @media screen and (max-width: 767px) {
    #register-form .container, #login-form .container, #add-people-form .container, #add-service-form .container, #add-company-form .container, #add-message-form .container, #edit-company-form .container, #edit-person-detail-form .container, #message-form .container, #add-agenda-form .container {
      width: 100vw; } }
#register-form h1, #register-form p, #login-form h1, #login-form p, #add-people-form h1, #add-people-form p, #add-service-form h1, #add-service-form p, #add-company-form h1, #add-company-form p, #add-message-form h1, #add-message-form p, #edit-company-form h1, #edit-company-form p, #edit-person-detail-form h1, #edit-person-detail-form p, #message-form h1, #message-form p, #add-agenda-form h1, #add-agenda-form p {
  text-align: center;
  margin-bottom: 1.5em; }
#register-form .form-group, #login-form .form-group, #add-people-form .form-group, #add-service-form .form-group, #add-company-form .form-group, #add-message-form .form-group, #edit-company-form .form-group, #edit-person-detail-form .form-group, #message-form .form-group, #add-agenda-form .form-group {
  margin-bottom: 1.5em; }
#register-form .form-group:focus-within, #login-form .form-group:focus-within, #add-people-form .form-group:focus-within, #add-service-form .form-group:focus-within, #add-company-form .form-group:focus-within, #add-message-form .form-group:focus-within, #edit-company-form .form-group:focus-within, #edit-person-detail-form .form-group:focus-within, #message-form .form-group:focus-within, #add-agenda-form .form-group:focus-within {
  transform: scale(1.1, 1.1);
  transition: all .6s; }
#register-form .form-label, #login-form .form-label, #add-people-form .form-label, #add-service-form .form-label, #add-company-form .form-label, #add-message-form .form-label, #edit-company-form .form-label, #edit-person-detail-form .form-label, #message-form .form-label, #add-agenda-form .form-label {
  display: block;
  font-size: 0.75em;
  color: #555;
  opacity: 0;
  transition: all .3s;
  transform: translateX(-100px); }
#register-form .focused .form-label, #login-form .focused .form-label, #add-people-form .focused .form-label, #add-service-form .focused .form-label, #add-company-form .focused .form-label, #add-message-form .focused .form-label, #edit-company-form .focused .form-label, #edit-person-detail-form .focused .form-label, #message-form .focused .form-label, #add-agenda-form .focused .form-label {
  opacity: 1;
  transform: translateX(0); }
#register-form .form-control, #login-form .form-control, #add-people-form .form-control, #add-service-form .form-control, #add-company-form .form-control, #add-message-form .form-control, #edit-company-form .form-control, #edit-person-detail-form .form-control, #message-form .form-control, #add-agenda-form .form-control {
  padding: 0.2em;
  box-shadow: none;
  border-radius: 0.25em;
  border-color: #ccc;
  border-style: none none solid none;
  font-size: 1.5em;
  transition: all .6s; }
#register-form .form-control::placeholder, #login-form .form-control::placeholder, #add-people-form .form-control::placeholder, #add-service-form .form-control::placeholder, #add-company-form .form-control::placeholder, #add-message-form .form-control::placeholder, #edit-company-form .form-control::placeholder, #edit-person-detail-form .form-control::placeholder, #message-form .form-control::placeholder, #add-agenda-form .form-control::placeholder {
  color: #aaa; }
#register-form .form-control:focus, #login-form .form-control:focus, #add-people-form .form-control:focus, #add-service-form .form-control:focus, #add-company-form .form-control:focus, #add-message-form .form-control:focus, #edit-company-form .form-control:focus, #edit-person-detail-form .form-control:focus, #message-form .form-control:focus, #add-agenda-form .form-control:focus {
  box-shadow: none;
  border-color: orange;
  outline: none; }
#register-form .form-control:invalid:focus, #login-form .form-control:invalid:focus, #add-people-form .form-control:invalid:focus, #add-service-form .form-control:invalid:focus, #add-company-form .form-control:invalid:focus, #add-message-form .form-control:invalid:focus, #edit-company-form .form-control:invalid:focus, #edit-person-detail-form .form-control:invalid:focus, #message-form .form-control:invalid:focus, #add-agenda-form .form-control:invalid:focus {
  border-color: red; }
#register-form .form-control:valid, #login-form .form-control:valid, #add-people-form .form-control:valid, #add-service-form .form-control:valid, #add-company-form .form-control:valid, #add-message-form .form-control:valid, #edit-company-form .form-control:valid, #edit-person-detail-form .form-control:valid, #message-form .form-control:valid, #add-agenda-form .form-control:valid {
  border-color: green; }
#register-form textarea, #login-form textarea, #add-people-form textarea, #add-service-form textarea, #add-company-form textarea, #add-message-form textarea, #edit-company-form textarea, #edit-person-detail-form textarea, #message-form textarea, #add-agenda-form textarea {
  resize: none; }
#register-form button, #login-form button, #add-people-form button, #add-service-form button, #add-company-form button, #add-message-form button, #edit-company-form button, #edit-person-detail-form button, #message-form button, #add-agenda-form button {
  padding: 0.75em;
  outline: none;
  border: none;
  border-radius: 0.25em;
  background-color: #4412e8;
  font-size: 1em;
  color: white; }
#register-form button:hover, #login-form button:hover, #add-people-form button:hover, #add-service-form button:hover, #add-company-form button:hover, #add-message-form button:hover, #edit-company-form button:hover, #edit-person-detail-form button:hover, #message-form button:hover, #add-agenda-form button:hover {
  cursor: pointer;
  background-color: #2904a4; }

.person-info-table {
  width: 40%;
  background-color: transparent !important; }
  @media screen and (max-width: 767px) {
    .person-info-table {
      width: 100%; } }

.message-table {
  width: 80%; }

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center; }

td {
  padding: .5em;
  color: orange; }

.no-underline {
  text-decoration: none; }

.text-column {
  text-align: start; }

.number-column {
  text-align: end; }

@media screen and (max-width: 767px) {
  #pc-nav {
    display: none; }

  .hide-for-mobile {
    display: none; } }
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none; } }
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative; }

#mobile-menu {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .6s;
  /* Adjust the duration and easing as needed */ }

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; }

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.sub-menu {
  margin-left: 1.5em; }

#profile-menu, #lists-menu, #add-menu {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.6s; }

/*# sourceMappingURL=styles.css.map */
